In [7]:
import pandas as pd

In [8]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [9]:
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [10]:
df = data[0]

In [11]:
df.head()

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

1. Zamień nagłówki kolumn na polskie odpowiedniki:

In [12]:
df.rename(columns={'TITLE':'TYTUŁ','ARTIST':'ARTYSTA','YEAR':'ROK','HIGH POSN':'MAX POZ'},inplace = True)

In [13]:
df.head()

   POS                                 TYTUŁ  ARTYSTA   ROK  MAX POZ
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

2. Ilu pojedynczych artystów znajduje się na liście?

In [14]:
df['ARTYSTA'].nunique()

47

3. Które zespoły pojawiają się najczęściej na liście?

In [15]:
df['ARTYSTA'].value_counts()

COLDPLAY                    3
TAKE THAT                   3
FLEETWOOD MAC               2
ABBA                        2
DIDO                        2
ORIGINAL SOUNDTRACK         2
QUEEN                       2
ROBBIE WILLIAMS             2
BEATLES                     2
MICHAEL JACKSON             2
ADELE                       2
SNOW PATROL                 1
KEANE                       1
U2                          1
JEFF WAYNE                  1
SCISSOR SISTERS             1
PHIL COLLINS                1
GEORGE MICHAEL              1
EMINEM                      1
MIKE OLDFIELD               1
TRAVIS                      1
TRACY CHAPMAN               1
ED SHEERAN                  1
NORAH JONES                 1
PAUL SIMON                  1
ORIGINAL CAST RECORDING     1
ALANIS MORISSETTE           1
CORRS                       1
KINGS OF LEON               1
BOB MARLEY & THE WAILERS    1
OASIS                       1
PINK FLOYD                  1
DIRE STRAITS                1
MADONNA                     1
AMY WINEHOUSE               1
SIMPLY RED                  1
SHANIA TWAIN                1
JAMES BLUNT                 1
LADY GAGA                   1
VERVE                       1
MEAT LOAF                   1
SIMON & GARFUNKEL           1
LEONA LEWIS                 1
MICHAEL BUBLE               1
DAVID GRAY                  1
SPICE GIRLS                 1
REM                         1
Name: ARTYSTA, dtype: int64

4. Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [16]:
df.rename(str.capitalize, axis='columns',inplace = True)
df.head()

   Pos                                 Tytuł  Artysta   Rok  Max poz
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

5. Wyrzuć z tabeli kolumnę ‘Max Poz’

In [17]:
df.drop('Max poz',axis='columns', inplace=True)
df.head()

   Pos                                 Tytuł  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

6. W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [18]:
df['Rok'].value_counts()

2000    4
1987    4
2006    3
1977    3
1998    3
2004    3
1997    3
2008    2
2005    2
1992    2
2002    2
1991    2
1973    2
1995    2
1975    1
2003    1
1988    1
2014    1
1999    1
1986    1
1965    1
1989    1
1978    1
2001    1
1981    1
2007    1
1996    1
2015    1
2009    1
1970    1
1984    1
1990    1
1985    1
1982    1
2011    1
1967    1
2010    1
Name: Rok, dtype: int64

7. Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [19]:
df[(df['Rok']>=1960) & (df['Rok']<=1990)]['Pos'].nunique()

22

8. W którym roku wydany został najmłodszy album na liście?

In [23]:
df['Rok'].max()

2015

9. Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [37]:
# df9 = df.sort_values(by=['Artysta','Rok'], ascending=[True, True]).drop_duplicates('Artysta')
# earliest_albums = df9[['Artysta','Tytuł']]
# earliest_albums = earliest_albums.reset_index().drop('index',axis=1)
# earliest_albums.rename(columns={'Tytuł':'Najstarszy album'}, inplace=True)
# earliest_albums
df9 = df.sort_values(by='Rok').groupby('Artysta').first()
df9.drop(['Pos','Rok'],axis='columns', inplace=True)
df9.rename(columns={'Tytuł':'Najstarszy album'}, inplace=True)
earliest_albums = df9

10. Listę zapisz do pliku csv.

In [39]:
earliest_albums.to_csv("Najstarsze_albumy.csv", index=True)