In [75]:
import pandas as pd

In [76]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [77]:
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [78]:
df = data[0]

In [79]:
df.head()

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

1. Zamień nagłówki kolumn na polskie odpowiedniki:

In [80]:
df.rename(columns={'TITLE':'TYTUŁ','ARTIST':'ARTYSTA','YEAR':'ROK','HIGH POSN':'MAX POZ'},inplace = True)

In [81]:
df.head()

   POS                                 TYTUŁ  ARTYSTA   ROK  MAX POZ
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

2. Ilu pojedynczych artystów znajduje się na liście?

In [82]:
df['ARTYSTA'].nunique()

47

3. Które zespoły pojawiają się najczęściej na liście?

In [83]:
df3 = df.groupby('ARTYSTA').size().rename('Count').reset_index().sort_values(by='Count',ascending=False).head(2)
df3

      ARTYSTA  Count
6    COLDPLAY      3
42  TAKE THAT      3

4. Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [84]:
df.rename(str.capitalize, axis='columns',inplace = True)
df.head()

   Pos                                 Tytuł  Artysta   Rok  Max poz
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

5. Wyrzuć z tabeli kolumnę ‘Max Poz’

In [85]:
df.drop('Max poz',axis='columns', inplace=True)
df.head()

   Pos                                 Tytuł  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

6. W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [86]:
df.groupby(['Rok']).size().rename('Count').reset_index().sort_values(by='Count',ascending=False).head(1)

     Rok  Count
23  2000      4

7. Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [92]:
df[(df['Rok']>=1960) & (df['Rok']<=1990)]['Pos'].nunique()

22

8. W którym roku wydany został najmłodszy album na liście?

In [135]:
df.sort_values(by='Rok', ascending=True).head(1)['Rok'].reset_index()._get_value(0, 'Rok')

1965

9. Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [136]:
artists = df['Artysta'].unique()
earliest_albums = []

for artist in artists:
    ea = df[df['Artysta']==artist].sort_values(by='Rok', ascending=True).reset_index().head(1)
    art = ea._get_value(0, 'Artysta')
    album = ea._get_value(0, 'Tytuł')
    earliest_albums.append( (art, album) )

In [139]:
earliest_albums.sort()
earliest_albums

[('ABBA', 'GREATEST HITS'),
 ('ADELE', '21'),
 ('ALANIS MORISSETTE', 'JAGGED LITTLE PILL'),
 ('AMY WINEHOUSE', 'BACK TO BLACK'),
 ('BEATLES', "SGT PEPPER'S LONELY HEARTS CLUB BAND"),
 ('BOB MARLEY & THE WAILERS', 'LEGEND'),
 ('COLDPLAY', 'PARACHUTES'),
 ('CORRS', 'TALK ON CORNERS'),
 ('DAVID GRAY', 'WHITE LADDER'),
 ('DIDO', 'NO ANGEL'),
 ('DIRE STRAITS', 'BROTHERS IN ARMS'),
 ('ED SHEERAN', 'X'),
 ('EMINEM', 'THE MARSHALL MATHERS LP'),
 ('FLEETWOOD MAC', 'RUMOURS'),
 ('GEORGE MICHAEL', 'LADIES & GENTLEMEN - THE BEST OF'),
 ('JAMES BLUNT', 'BACK TO BEDLAM'),
 ('JEFF WAYNE', 'THE WAR OF THE WORLDS'),
 ('KEANE', 'HOPES AND FEARS'),
 ('KINGS OF LEON', 'ONLY BY THE NIGHT'),
 ('LADY GAGA', 'THE FAME'),
 ('LEONA LEWIS', 'SPIRIT'),
 ('MADONNA', 'THE IMMACULATE COLLECTION'),
 ('MEAT LOAF', 'BAT OUT OF HELL'),
 ('MICHAEL BUBLE', 'CRAZY LOVE'),
 ('MICHAEL JACKSON', 'THRILLER'),
 ('MIKE OLDFIELD', 'TUBULAR BELLS'),
 ('NORAH JONES', 'COME AWAY WITH ME'),
 ('OASIS', "WHAT'S THE STORY MORNING GLORY"),
 ('ORIGINAL CAST RECORDING', 'THE SOUND OF MUSIC'),
 ('ORIGINAL SOUNDTRACK', 'GREASE'),
 ('PAUL SIMON', 'GRACELAND'),
 ('PHIL COLLINS', 'BUT SERIOUSLY'),
 ('PINK FLOYD', 'THE DARK SIDE OF THE MOON'),
 ('QUEEN', 'GREATEST HITS'),
 ('REM', 'AUTOMATIC FOR THE PEOPLE'),
 ('ROBBIE WILLIAMS', "I'VE BEEN EXPECTING YOU"),
 ('SCISSOR SISTERS', 'SCISSOR SISTERS'),
 ('SHANIA TWAIN', 'COME ON OVER'),
 ('SIMON & GARFUNKEL', 'BRIDGE OVER TROUBLED WATER'),
 ('SIMPLY RED', 'STARS'),
 ('SNOW PATROL', 'EYES OPEN'),
 ('SPICE GIRLS', 'SPICE'),
 ('TAKE THAT', 'NEVER FORGET - THE ULTIMATE COLLECTION'),
 ('TRACY CHAPMAN', 'TRACY CHAPMAN'),
 ('TRAVIS', 'THE MAN WHO'),
 ('U2', 'THE JOSHUA TREE'),
 ('VERVE', 'URBAN HYMNS')]

10. Listę zapisz do pliku csv.

In [151]:
df4 = pd.DataFrame(earliest_albums)

In [155]:
df4.rename({0:'Artysta',1:'Najwczesniejszy_album'}, axis=1, inplace=True)

In [156]:
df4.to_csv("Najwczesniejsze_albumy.csv", index=False)